.messageSender {
  overflow-wrap: anywhere;
}

.messageSenderButton {
  border: 1px solid var(--color-fg);
  background: var(--color-bg);
  padding: 2px 6px;
  cursor: pointer;
  text-align: left;
}

.senderMenuContent {
  border: 1px solid var(--color-fg);
  background: var(--color-bg);
  min-width: 140px;
  padding: 4px;
}

.senderMenuLabel {
  padding: 4px 8px;
  color: var(--color-fg);
  opacity: var(--text-opacity-step-3);
  user-select: text;
  overflow-wrap: anywhere;
}

.senderMenuItem {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}
