.foldersSection {
  min-width: 0;
  position: sticky;
  top: 0;
  align-self: start;
  max-height: 100%;
  overflow: auto;
  padding: 8px;
}

.mailboxGroup {
  margin-bottom: 16px;
}

.mailboxTitle {
  margin-bottom: 8px;
}

.folderNav {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.folderNavButton {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
  cursor: pointer;

  &:hover {
    background-color: var(--color-bg-step-1);
  }

  &.folderButtonActive {
    background-color: var(--color-bg-step-2);
  }
}

.folderButtonLabel {
  flex: 1;
  min-width: 0;
  width: 100%;
  text-align: left;
}
