@import './reset.css';

@font-face {
  font-family: 'GT Pressura Mono';
  src: url('../webfonts/GT-Pressura/GT-Pressura-Mono-Text-Trial.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-bg: #fff;
  --color-fg: #000;
  --color-fg-step-1: rgba(0, 0, 0, 1);
  --color-fg-step-2: rgba(0, 0, 0, 0.85);
  --color-fg-step-3: rgba(0, 0, 0, 0.7);
  --color-fg-step-4: rgba(0, 0, 0, 0.55);
  --text-opacity-step-1: 1;
  --text-opacity-step-2: 0.85;
  --text-opacity-step-3: 0.7;
  --text-opacity-step-4: 0.55;
}

body {
  font-family: 'GT Pressura Mono', monospace;
  font-size: 12px;
  color: var(--color-fg);
  background: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
    --color-fg: #fff;
    --color-fg-step-1: rgba(255, 255, 255, 1);
    --color-fg-step-2: rgba(255, 255, 255, 0.85);
    --color-fg-step-3: rgba(255, 255, 255, 0.7);
    --color-fg-step-4: rgba(255, 255, 255, 0.55);
    --text-opacity-step-1: 1;
    --text-opacity-step-2: 0.85;
    --text-opacity-step-3: 0.7;
    --text-opacity-step-4: 0.55;
  }

  *:not(canvas, iframe, img, svg, video, svg *, symbol *) {
    color: var(--color-fg) !important;
    background: var(--color-bg) !important;
    border-color: var(--color-fg) !important;
  }
}

:root[data-theme='dark'] {
  --color-bg: #000;
  --color-fg: #fff;
  --color-fg-step-1: rgba(255, 255, 255, 1);
  --color-fg-step-2: rgba(255, 255, 255, 0.85);
  --color-fg-step-3: rgba(255, 255, 255, 0.7);
  --color-fg-step-4: rgba(255, 255, 255, 0.55);
  --text-opacity-step-1: 1;
  --text-opacity-step-2: 0.85;
  --text-opacity-step-3: 0.7;
  --text-opacity-step-4: 0.55;
}

:root[data-theme='dark'] *:not(canvas, iframe, img, svg, video, svg *, symbol *) {
  color: var(--color-fg) !important;
  background: var(--color-bg) !important;
  border-color: var(--color-fg) !important;
}

:root[data-theme='light'] {
  --color-bg: #fff;
  --color-fg: #000;
  --color-fg-step-1: rgba(0, 0, 0, 1);
  --color-fg-step-2: rgba(0, 0, 0, 0.85);
  --color-fg-step-3: rgba(0, 0, 0, 0.7);
  --color-fg-step-4: rgba(0, 0, 0, 0.55);
  --text-opacity-step-1: 1;
  --text-opacity-step-2: 0.85;
  --text-opacity-step-3: 0.7;
  --text-opacity-step-4: 0.55;
}

:root[data-theme='light'] *:not(canvas, iframe, img, svg, video, svg *, symbol *) {
  color: var(--color-fg) !important;
  background: var(--color-bg) !important;
  border-color: var(--color-fg) !important;
}
