@import './reset.css';

@font-face {
  font-family: 'GT Pressura Mono';
  src: url('../webfonts/GT-Pressura/GT-Pressura-Mono-Text-Trial.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Mono';
  src: url('../webfonts/Simplon Mono.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-size-body: 12px;
  --font-size-small: 10px;
  --text-opacity-step-1: 1;
  --text-opacity-step-2: 0.85;
  --text-opacity-step-3: 0.7;
  --text-opacity-step-4: 0.55;
  --font-family-simplon-mono: 'Simplon Mono', monospace;
  --font-family-gt-pressura-mono: 'GT Pressura Mono', monospace;
}

:root[data-theme='light'] {
  --color-bg: #fff;
  --color-fg: #000;
  --color-bg-step-1: rgba(0, 0, 0, 0.02);
  --color-bg-step-2: rgba(0, 0, 0, 0.04);
  --color-bg-step-3: rgba(0, 0, 0, 0.07);
  --color-bg-step-4: rgba(0, 0, 0, 0.1);
  --color-fg-step-1: rgba(0, 0, 0, 1);
  --color-fg-step-2: rgba(0, 0, 0, 0.85);
  --color-fg-step-3: rgba(0, 0, 0, 0.7);
  --color-fg-step-4: rgba(0, 0, 0, 0.55);
}

:root[data-theme='dark'] {
  --color-bg: #040504;
  --color-fg: #fff;
  --color-bg-step-1: rgba(255, 255, 255, 0.08);
  --color-bg-step-2: rgba(255, 255, 255, 0.13);
  --color-bg-step-3: rgba(255, 255, 255, 0.18);
  --color-bg-step-4: rgba(255, 255, 255, 0.24);
  --color-fg-step-1: rgba(255, 255, 255, 1);
  --color-fg-step-2: rgba(255, 255, 255, 0.8);
  --color-fg-step-3: rgba(255, 255, 255, 0.6);
  --color-fg-step-4: rgba(255, 255, 255, 0.4);
  --color-fg-step-5: rgba(255, 255, 255, 0.2);
  --color-fg-step-6: rgba(255, 255, 255, 0.1);
}

body {
  font-family: var(--font-family-simplon-mono);
  /* font-family: var(--font-family-gt-pressura-mono); */
  font-size: var(--font-size-body);
  color: var(--color-fg);
  background: var(--color-bg);
}
