.root {
  position: relative;
  width: 6px;
  min-height: 0;
  cursor: col-resize;
  touch-action: none;

  &:after {
    width: 1px;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-fg-step-5);
  }
}

.root:hover {
  background: var(--color-fg-step-6);
}

.rootResizing {
  background: var(--color-fg-step-5) !important;
}
